body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #0056b3;
}

h4 {
    margin-bottom: 10px;
    color: #007bff;
}

p, li {
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container for the content */
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling the contact email */
.email-link {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.email-link:hover {
    background-color: #0056b3;
}
