/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Circular', sans-serif, Arial, Helvetica;
  color: black;
}

.custom-col {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

@media (max-width: 768px) {
  .custom-col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

a {
  text-decoration: none;
  color: #C307F9;
}

a:hover {
  color: #C307F9;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Circular', sans-serif, Arial, Helvetica;
}

#main {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 998;
  background: #C307F9;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: white;
  line-height: 0;
}

.back-to-top:hover {
  background: black;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 24px 0;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: #3c3c50;
  padding: 12px;
}

#header .logo img{
  display: inline-block;
  vertical-align: middle;
}
#header .logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 15px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
  position: static;

}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-left: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  background: rgba(255, 255, 255, 0.2);
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 111, 142, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2f4d5a;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #67b0d1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/background.gif") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.github-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 7px 17px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;

}

.github-btn i {
  margin-left: 5px;
}


#hero h1, #hero h2 {
  font-weight: 700;
  color: #fff;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 64px;
  line-height: 70px;

}

#hero h1 span {
  color: #C307F9;
}

#hero h2 {
  margin-bottom: 50px;
  font-size: 40px;
}


#hero .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #3c3c50;
  z-index: 2;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}

.section-title p {
  margin-bottom: 0;
}


.highlight-text {
  font-size: 1.2em;
  color: #2c3e50;
  background-color: #ecf0f1;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #C307F9;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: url("../img/about-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2f4d5a;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  display: inline-block;
  background: #C307F9;
  padding: 6px 44px 8px 30px;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}

.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}

.about .content .about-btn:hover {
  background: black;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.about .icon-boxes .icon-box:hover {
  transform: scale(1.05);
}

.about .icon-boxes .icon-box i {
  font-size: 2em;
  color: #C307F9;
  margin-bottom: 15px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 1.25em;
  color: #34495e;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #7f8c8d;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}



/*--------------------------------------------------------------
# Reports
--------------------------------------------------------------*/
.reports .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.reports .icon-box::before {
  content: "";
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.reports .icon-box:hover::before {
  background: #67b0d1;
  top: 0;
  border-radius: 0;
}

.reports .icon {
  margin-bottom: 15px;
}

.reports .icon i {
  font-size: 48px;
  line-height: 1;
  color: #67b0d1;
  transition: all 0.3s ease-in-out;
}

.reports .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.reports .title a {
  color: #111;
}

.reports .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.reports .icon-box:hover .title a,
.reports .icon-box:hover .description {
  color: #fff;
}

.reports .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.team .member .pic img {
  width: 100%;
  height: auto;
}

.team .member .member-info {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: #2f4d5a;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  max-height: 92px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.team .member:hover .member-info {
  max-height: 300px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2f4d5a;
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b1cbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #52869d;
}

.team .member .social a:hover {
  color: #67b0d1;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  height: auto;
}

.contact .info-box {
  color: #444444;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #C307F9;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f0f7fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .jotform-container {
  height: auto;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #263f49;
  color: white;
  font-size: 14px;
  padding: 20px;
}

#footer .logo{
  text-align: center;
  margin-bottom: 20px;
}

#footer .logo img{
  display: inline-block;
  text-align: center;
}

#footer .logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}

#footer .logo h2 {
  font-size: 12px;
  margin-top: 10px;
  font-style: italic;
}

#footer .logo h1 a {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #67b0d1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #409cc5;
}

#footer .copyright {
  border-top: 1px solid #385b6b;
  text-align: center;
  padding-top: 30px;
}

.coming-soon-message {
  font-size: 1.5em;
  color: #e74c3c;
  font-weight: 600;
  margin-top: 20px;
  border-top: 2px dashed #e74c3c;
  padding-top: 20px;
}

.btn-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: white !important;
  margin-right: 0.2vh !important;
  background: #385b6b;
  border-color: white;
}

.jotform-container {
  height: auto;
}

.new-label {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 10px;
  color: #fff;
  background-image: linear-gradient(to right, #7b4397, blue);
  border-radius: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  vertical-align: middle;
  animation: waveAnimation 2s ease-in-out infinite;
}

.view-and-label {
  display: flex;
  align-items: center;
}

@keyframes waveAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}





#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

.custom-footer {
  background-color: white;
}

.custom-footer__logo-image {
  max-width: 40px;
  height: auto;
}

.custom-footer__description {
  margin-bottom: 20px;
}

.custom-footer__heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.custom-footer__links a {
  color: #555;
  text-decoration: none;
}

.custom-footer__links a:hover {
  text-decoration: underline;
}

.custom-footer__tos {
  color: #777;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.custom-footer__logo span {
  font-weight: bold;
}

/* Top Banner */
#top-banner {
  background: linear-gradient(90deg, #C307F9 0%, #8A07F9 100%);
  padding: 15px 20px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner-link {
  color: #FFD700;
  text-decoration: underline;
  margin-left: 10px;
  font-weight: bold;
}

.banner-close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #FFD700;
}
